// Body
.container {
  max-width: 40em;
  margin-bottom: 1.5em;
}

.close {
  margin-top: -20px;
}

// Loading and spinner
#spinner {
  position: fixed;
  right: 1em;
  top: 1em;
}

#loading {
  margin-top: 2em;
}

.notification-area {
  margin-top: 1em;
}

// Home

#new, #btns {
  margin-top: 1em;
}

// Editor

#title {
  margin-bottom: 1em;
}
#editor {
  margin-top: 1em;
}
#upload {
  margin-top: 1em;
}

// Viewer

#tools {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

#src {
  margin-top: 1em;
}

// Sign up and Sign in
#signup-container, #signin-container {
  #mail { margin-top: 2em; margin-bottom: 1em }
  #pw {
    margin-top: 1em;
  }
  .btn {
    margin-top: 1em;
  }
}

#signup-container {
  #pw {
    margin-bottom: 1em;
  }
}

// Profile

#profile-tools {
  margin-top: 1em;
  margin-bottom: 1em;
  a {
    margin-bottom: 1em;
  }
}

.label {
  margin-top: 2px;
}
